.accordion-top-bets {
    max-width: 100vw;
    font-size: 0.99em;
    border-bottom: 0.08rem solid #570530;
    /* position: fixed; */
    /* margin-bottom: .1rem; */
}

.accordion-top-bets-title {
    display: flex;
    color: #fff5f5;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    background-color: #750550;
    font-size: 0.875em;
    /* text-transform: uppercase; */
    /* font-weight: 500; */
}

.accordion-top-bets-title:hover {
    background-color: #980f5a;
}

.accordion-top-bets-title {
    padding: 0.4rem;
}

.accordion-top-bets-content {
    background-color: #980f5a6e;
}

@media screen and (max-width: 700px) {
    body {
        font-size: 18px;
    }
    .accordion-top-bets {
        width: 90%;
    }
}

.wrapper {
    min-height: 100vh;
    background: #ccc;
    display: flex;
    flex-direction: column;
}

.accordion-top-bets-title img {
    align-items: center;
    /* padding-top: 0.5rem; */
}

.top_matches {
    background-color: white;
    padding: 0.4rem;
    font-size: 0.875em;
}

.top_match_title {
    color: #980f5a;
}

.top_match_time {
    color: #aeaeae;
}

.top_match_teams {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 5px;
}

.top_match_odds {
    display: flex;
    flex: 1;
    justify-content: space-between;
    background-color: #750550;
    border-bottom: 1px solid #ff0086;
    /* padding: .1rem; */
}

.top_match_odd {
    display: flex;
    justify-content: space-between;
    border-right: 0.1rem solid #ffffff;
    color: #ffffff;
    /* font-weight: bold; */
    font-size: 13px;
    padding: 0.1rem;
    cursor: pointer;
    transition: 0.5s;
}

.top_match_odd:hover {
    background: #ff0086;
    /* font-weight: 600; */
}

.top_match_odd span {
    padding: 5px;
}

.hdraw {
    flex: 1;
    order: 2;
}

.h1 {
    order: 1;
    width: 33%;
}

.h2 {
    order: 3;
    width: 33%;
}

.top_match_odd:last-child {
    border: none;
}

.accordion-top-bets {
    max-width: 100vw;
    border-bottom: 0.08rem solid #570530;
    /* position: fixed; */
    /* margin-bottom: .1rem; */
}

.accordion-top-bets-title {
    display: flex;
    color: #fff5f5;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    background-color: #750550;
    /* text-transform: uppercase; */
    /* font-weight: 500; */
}

.accordion-top-bets-title:hover {
    background-color: #980f5a;
}

.accordion-top-bets-title {
    padding: 0.4rem;
}

.accordion-top-bets-content {
    background-color: #980f5a6e;
}

@media screen and (max-width: 700px) {
    body {
        font-size: 18px;
    }
    .accordion-top-bets {
        width: 90%;
    }
}

.accordion-top-bets-title img {
    align-items: center;
    /* padding-top: 0.5rem; */
}

.left__heading {
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
    color: #ffffff;
}